<!doctype html>
<!-- <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="/style.css">
<html>
  <head>
  </head>
  <body>
    <header>
      <p>
        <a href="/"> HOME </a>
        <a href='/users'> USERS </a>
        <a href='/products'> PRODUCTS </a>

      </p>

    </header>
    <h1> Manalo </h1>
    <%= yield %> 
  </body>
</html>