<!doctype html>
<!-- <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="/style.css">
<html>
  <head>
  </head>
  <body>
    <h1> Manalo </h1>
    <%= yield %> 
  </body>
</html>