<h1>New Product</h1>

<form action="/new-product" method="post">
  <o>
    <label for='product_name'>Product Name</label>
  <p>
    <input type="text" name="product_name" />
  <p>
    <label for='product_name'>Product Price</label>
  <p>
    <input type="text" name="product_price" />
  <p>
  <button>Save it!</button>
</form>

<a href='/'> Back </a>