<h1>New Product</h1>

<form action="/new-product" method="post">
  <o>
    <label for='product_name'>Product Name</label>
  <p>
    <input type="text" name="product_name" placeholder="Name" required/>
  <p>
    <label for='product_price'>Product Price</label>
  <p>
    <input type="text" name="product_price" placeholder="$$$" required/>
  <br>
    <input type="checkbox" name="on_sale" value='t'>On Sale?
  <p>
  <button>Save it!</button>
</form>

<a href='/'> Back </a>