<div>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Sale</th>
    <th>Search</th>
  </tr>
  <% @rs.each do |row| %>
  <tr>
    <td><a class="regular" href="/products/<%= row['id'] %>"><%= row['name'] %></label></a></td>
    <td><%= row['price'] %></td>
    <td><% if row['on_sale'] == 't' %>
        <img src='sale_pic.jpg' />
          <% end %></td>
    <td><a class="twitter" href="/products/search?q=<%= URI.escape(row['name']) %>"> Search on Twitter </a> </td>
  </tr>
  <% end %>
</table>
</div>

<a href='/'> Back </a>