<h1>You searched for <%= @q %></h1>


<% @results["items"].each do |item| %>
<%  item["product"].each do |product| %>
<div>
<img src="<%= product["images"][0]["link"] %>">
    <p><%= product["description"] %></p>
    <p><%= product["link"] %></p>

  </div>
<% end %>
<% end %>