<h1>You searched for <%= @q %></h1>


<% @results["items"].each do |item| %>
<%  product = item["product"] %>
<div>
<img class="search" src="<%= product["images"][0]["link"] %>">
    <p><%= product["description"] %></p>
    <p><a href="<%= product["link"] %>"> Buy Me! </a>

  </div>
<% end %>
