<h1>Update Product</h1>

<form action="/products/<%= @id %>" method="post">
  <o>
    <label for='product_name'>Product Name</label>
  <p>
    <input type="text" name="product_name" required />
  <p>
    <label for='product_price'>Product Price</label>
  <p>
    <input type="text" name="product_price" required />
  <p>
  <button>Update it!</button>
</form>

<a href='/products'> Back </a>