<h1>Update Product</h1>

<form action="/products/<%= @id %>" method="post">
  <o>
    <label for='product_name'>Product Name</label>
  <p>
    <input type="text" name="product_name" value="<%= @name %>" required />
  <p>
    <label for='product_price'>Product Price</label>
  <p>
    <input type="text" name="product_price" value="<%= @price %>" required />
  <br>
    <input type="checkbox" name="on_sale" value='t'>On Sale?
  <p>
  <button>Update it!</button>
</form>

<a href='/products/<%= @id %>'> Back </a>