body {
  background: white;
  text-align: center;
}

tr:nth-child(2n) {
  background-color: #44bb99;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20pt;
  display: inline-block;
  border: 3px #00d solid;
  border-bottom: 3px #008 solid;
  border-right: 3px #008 solid;
  background: #00b;
}

.regular {
  color: red;
  text-decoration: none;
  font-size: 10pt;
  display: inline-block;
  border: none;
  background: none;

}
img {
  width: 50px;
}

table {
  margin: auto;
}

header a{
  color: blue;
  text-decoration: none;
  font-size: 15pt;
  display: inline;
  border: 2px #d00 solid;
  background: #bbb;
}