body {
  text-align: center;
}

div {
  position: absolute;
}

tr:nth-child(2n) {
  background-color: #44bb99;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20pt;
  display: inline-block;
  border: 3px #00d solid;
  border-bottom: 3px #008 solid;
  border-right: 3px #008 solid;
  background: #00b;
}

img {
  width: 50px;
}